<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    
    <title>Lenny.in</title>
    
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <link rel="shortcut icon" href="icon.ico" type="image/x-icon"/>
</head>
<body>
    <p>
        <h3>Here goes the home page</h3>
        {{ fooVal }}
        <a href='/home'><h2>Start Here</h3></a>
    </p>
</body>
</html>
